{% spaceless %}
{% load static %}
{% load thumbnail %}
{% load cms_tags %}
{% endspaceless %}

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/style.css' %} {% endblock %}" />
  {% if favicon %}
    <link rel="shortcut icon" type="image/png" href="/media/{% favicon %}"/>
  {% endif %}

	<title>
      {% block seotitle %} hobbystore - TEST ALPHA {% endblock %}
  </title>

  
</head>
<body>

    {% include 'includes/header.html'%}

    {% include 'includes/nav.html'%}

    <div class="main-field">
      {% block content %}{% endblock %}	
    </div>

    {% include 'includes/footer.html'%}
</body>
</html>
