{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="main_field">
    <h2>Регистрация</h2>
    <form class="signup" action="{% url "register" %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name == "username" %}  
            <div class='signup__line'>
              <span class='signup__label'>Имя пользователя </span>{{ field|add_class:"form__control"}}
            </div>
          {% endif %}
          {% if field.name == "password1" %}    
            <div class='signup__line'>
              <span class='signup__label'>Пароль </span>{{ field|add_class:"form__control"}}
            </div>
          {% endif %}
          {% if field.name == "password2" %}    
            <div class='signup__line'>
              <span class='signup__label'>Повторите пароль</span>{{ field|add_class:"form__control"}}
            </div>
          {% endif %}
          {% if field.name == "email" %}    
            <div class='signup__line'>
              <span class='signup__label'>Email</span>{{ field|add_class:"form__control"}}
            </div>
          {% endif %}
        {% endfor %}
        <button type="submit">Зарегистрироваться</button>
    </form>
  </div>
{% endblock %}

