{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="auth">
    <h2></h2>
    <form class="auth-form" action="{% url "signin" %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.name == "username" %}  
            <div class='auth__line'>
              <span class='auth__label'>Имя пользователя </span>{{ field|add_class:"form__control"}}
            </div>
          {% endif %}
          {% if field.name == "password1" %}    
            <div class='auth__line'>
              <span class='auth__label'>Пароль </span>{{ field|add_class:"form__control"}}
            </div>
        <button type="submit">Войти</button>
    </form>
  </div>
{% endblock %}

