@font-face{
  font-family:"PTSansCaptionRegular";
  src: url("/static/fonts/PTSansCaption-Regular.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  min-height:100%;
  position:relative;
}*,
*:before,
*:after {
  box-sizing: inherit;
}


*{
  margin: 0;
  padding: 0;
  color:white;
  font-family:"PTSansCaptionRegular";
}

body {
    height: 100%; 
    background:#292929;
}

h2 {
  font-size:42pt;
  margin:0;
  padding:0;
}

div {
  font-size:16pt;
}

input {
  color: #333;
  margin: 0;
  padding: 5px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 300px;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;

}

button {
  margin:20px 0px;
  border:5px solid #999999;
  height:60px;
  width:190px;
  background:#424242;
}

a {
  text-decoration:none;
}

.header{
  padding:0;
  width:100%;
  height:100px;
  display:flex;
  position:relative;
  background:#1C1C1C;
}

.footer-block{
  padding:0;
  width:100%;
  height:100px;
  display: flex;
  margin-top: -100px;
  background:#1C1C1C;
  position:relative;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.footer-block a{
  padding:10px;
}

.nav{
  width:100px;
  position:fixed;
  margin:0;
  padding:0;
  height:auto;
  min-height:100%;
  background:#1C1C1C;
}

.menu_buttons{
  padding:0;
  margin:15;
  margin-top:150px;
}
.menu_buttons img{
  margin:10px;
}

.main-field{
  min-height:100%; 
  width:100%;
  position:relative;
}

.content-block{
  margin-left:100px;
  width:100%;
  min-height:100%;
  margin-bottom:200px;
}

.content__container{
  display:flex;
}

.market-list{ 
  margin-top:50px;
  height:calc(100% - 300px);
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
}

.flex_wrapper{
    display:flex;
    flex-wrap:wrap;
    height:100%;
}

.flex_container{
    display:flex;
}


.info_field{
    padding:40px;
    flex:60%;
  }

.look_item{
    padding:40px;
    flex: 40%;
}

.big_image{
  right:100px;
}

.market_item{ 
  margin:10px;
  width: 300px;
  height: 370px;
  padding:0px;
}
.market_title{
  font-size:16pt;
}

.price_field{
 padding-top:5px; 
}

.price_value{
  font-size:40pt;
}

.logo{
  top:25px;
  position:absolute;
  left:100px;
}

.user{
  top:30px;
  position:absolute;
  right:100px;
}

.register_content{
  top:100px;
  left:100px;
  padding:30px;
}

.auth{
  margin-top:50px;
  margin-left:150px;
}

.auth__action{
  margin-bottom:20px;
}

.auth__line{
  margin-bottom:20px;
}

.auth__label{
  top:4px;
  position:relative;
}

.form__control{
  left:400px;
  position:absolute;
}

.cart-container{
} 

.cart_list{
    min-height:100%;
}

.cart_item{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin:0;
    padding:10px;
}
.cart_quanity{
}
