{% extends 'base.html' %}

{% load cart_tag %}

{% block content %}

<div class='cart_list info_field'>
    <h2>Корзина</h2>

<div class='cart_container'>
        {% for key,value in request.session.cart.items %}
        <div class='cart_item'>
            <div class='cart_content'>
                {{value.name}} {{value.price}} 
                    <div>
                        <img src={{value.image}} width=300 height=300> 
                    </div>
                <p>Цена {{ value.price|multiply:value.quantity }}</p>
            </div>

            <div class='cart_quanity'>
                <p>Количество: {{value.quantity}} </p>
                <a href="{% url 'item_increment' value.product_id %}">Добавить</a>
                <a href="{% url 'item_decrement' value.product_id %}">Уменьшить</a>
            </div>
        </div>
        {% endfor %}  
 
    </div>
</div>

{% endblock %}
