{% load thumbnail %}
{% load cms_tags %}
<div class="header">

  <div class="logo">
  {% if logo %}
    <img class="logo__image" src="/media/{% logo %}" width="240" alt="Логотип сайта тест">
  {% endif %}
  </div>
  <div class="user">
    {% if user.is_authenticated %}
			<a href="{% url 'cart_detail' %}">Корзина</a>
			<a href="{% url 'logout' %}">Выход</a>
    {% else %}

      <a href="{% url 'signup' %}">Регистрация</a>
      <a href="{% url 'login' %}">Войти</a>
    {% endif %}

  </div>

</div>
